body {
    min-width: 600px;
    margin: auto;
}

.content {
    min-width: 600px;
    max-width: 900px;
    margin: auto;
}

.center {
    display: flex;
    justify-content: center;
}

.bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    border: 1px solid white;
    padding: 10px 0 10px 0;
}

.bar-section {
    min-height: 50px;
    flex: 1 0 0;
    display: flex;
    align-items: center;
}

.bar {
    font-family: sans-serif;
    font-size: 10px;
    flex: 1 0 0;
    min-height: 30px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar.special {
    align-self: flex-end;
}

.bar.border-left,
.bar.border-left.special-border-left {
    border-left: 3px solid black;
}

.bar.border-right,
.bar.border-right.special-border-right {
    border-right: 3px solid black;
}

.bar.special-border-left,
.bar.border-left.special-border-left:before {
    border-left: 2px solid red;
}

.bar.special-border-right,
.bar.border-right.special-border-right:before {
    border-right: 2px solid red;
}

.bar.border-left.special-border-left,
.bar.border-right.special-border-right {
    position: relative;
}

.bar.border-left.special-border-left:before,
.bar.border-right.special-border-right:before {
    background: none;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.bar:not(.active):hover {
    cursor: pointer;
    opacity: 0.8;
    min-height: 34px;
}

.bar.active {
    min-height: 50px;
}